<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="top-title">New York Times Sports Scraper</h1>
  </div>
</div>



{{#if articles}}
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-12">
	      {{#each articles}}
	        <div class="panel panel-primary">
	          <div class="panel-heading">
	            <div class="row">
	              <div class="col-md-12">
	                <h3><a style="color:white" href="{{this.link}}" class="headline">{{this.headline}}</a></h3>
	              </div>
	              <div class="col-md-2">
	                <button class="btn btn-warning comment-button" data-id="{{this._id}}">Comment</button>
	                <button class="btn btn-success" id="unsave-btn" data-id="{{this._id}}">Remove Article</button>
	              </div>
	            </div>
	          </div>
	          <div class="panel-body">
	            {{#if this.summary}}
	              <p>{{this.summary}}</p>
	            {{/if}}
	            {{#unless this.summary}}
	              <p>No Summary Avaliable</p>
	            {{/unless}}
	          </div>
	        </div>
	      {{/each}}
	    </div>
	  </div>
	</div>

{{/if}}

<div class="container">
  <h2>Comment</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-comment btn-lg" data-toggle="modal" data-target="#myModal">Notes</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notes</h4>
        </div>

        <div class="modal-body">
          <p id="notes"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-save" data-dismiss="modal">Save</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>